.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}

.bloque{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloque1{
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(63, 59, 59);
    border: 1px solid black;

}